body {
    margin: 20px;
    font-family:  "Josefin Sans", "Avenir Next", Helvetica;
    max-width: 1200px;
    margin: auto;
    font-weight: 300;
    line-height: 1.7;
    font-size: 17px;
    color: rgb(140, 140, 140);
}

.square {
    width: 1200px;
    height: 50px;
    background-color: white;
    position: fixed;
    top: 0;
    justify-self: center;
    z-index: 9;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
      "box1 box1 box1" 
      "box2 box2 box2" 
      "box3 box4 box5" 
      "box6 box7 box8" 
      "box9 box9 box9"
}

.box1 {
    grid-area: box1;
    border-bottom: 1px solid lightgray;
    height: 50px;
    margin: 20px 30px;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 10;
}

.box2 {
    grid-area: box2;
    height: 300px;
    margin: 30px;
    position: relative;
    top: 0px;
    margin-bottom: 100px;
    color: rgb(109, 109, 109);
}

.box3 {
    grid-area: box3;
    position: relative;
    top: 60px;
    margin: 30px;
    width: 300px;
}

.box4 {
    grid-area: box4;
    position: relative;
    top: 60px;
    margin: 30px;
    width: 300px;
    justify-self: center;
}

.box5 {
    grid-area: box5;
    position: relative;
    top: 60px;
    margin: 30px;
    width: 300px;
    justify-self: right;
}

.box6 {
    grid-area: box6;
    position: relative;
    top: 60px;
    margin: 30px;
    width: 300px;
}

.box7 {
    grid-area: box7;
    position: relative;
    top: 60px;
    margin: 30px;
    width: 300px;
    justify-self: center;
}

.box8 {
    grid-area: box8;
    position: relative;
    top: 60px;
    margin: 30px;
    width: 300px;
    justify-self: right;
}

.box9 {
    grid-area: box9;
    position: relative;
    top: 140px;
    margin: 30px;
    font-weight: 100;
}

.logo {
    float: left;
    display: blockblock;
    width: 70px;
    position: relative;
    top: 10px;
}


nav ul {
    list-style: none;
    float: right;
    display: block;
    position: relative;
    font-weight: 100;
}

nav li {
    display: inline;
    padding-left: 40px;
}

nav a:link {
    color: rgb(140, 140, 140);
    text-decoration: none;
}

nav a:visited {
    color: rgb(140, 140, 140);
    text-decoration: none;
    font-weight: 400;
}

nav a.active {
    color: rgb(140, 140, 140);
    text-decoration: none;
    font-weight: 400;
}

.nav-link[aria-current="page"] {
    font-weight: 400;
    color: rgb(109, 109, 109);
}

h1 {
    font-family: "Bodoni Moda", 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: 500;
    font-size: 50px;
    position: relative;
    top: 40px;
}

h2 {
    font-weight: 300;
    text-align: center;
}

.box2 p {
    max-width: 400px;
    text-align: center;
    margin: auto;
    position: relative;
    top: 40px;
    font-size: 18px;
}

.image {
    width: 300px;
}

.box9 p {
    text-align: center;
    margin: auto;
    padding-bottom: 100px;
}

.imagetext {
    display: inline-block;
    position: relative;
    top: 20px;
    width: 260px;
    text-align: center;
    color: rgb(109, 109, 109);
    text-decoration: underline; 
    -webkit-text-decoration: underline;
    text-decoration-thickness: 1px;
    -webkit-text-decoration-thickness: 1px;
    text-decoration-color: lightgray;
    -webkit-text-decoration-color: lightgray;
    text-underline-offset: 4px;
    opacity: 1;
    left: 50%;
    z-index: 8;
    transform: translate(-50%, -50%);
}

#description {
    display: inline-block;
    text-decoration: none;
    color: rgb(109, 109, 109);
    top: 40px;
    width: 260px;
    margin-bottom: 40px;
    pointer-events: none;
    font-weight: 300;
}

.blur {
    width: 300px;
    position: absolute;
    top: 0;
    justify-self: center;
    z-index: 8;
    filter: blur(6px);
    opacity: 0;
}

.opacity {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 0;
    background-color: white;
    justify-self: center;
    z-index: 8;
    opacity: 0;
    backdrop-filter: blur(20px);
}

.hamburger {
    display: none;
    cursor: pointer;
    float: right;
    padding: 0;
    position: relative;
    top: 10px;
}

.bar {
    display: block;
    width: 25px;
    height: 1px;
    margin: 7px 0;
    transition: all 0.3s ease;
    background-color: darkgrey;
}

@media screen and (min-height: 1300px) {
    .box1 {
        grid-area: box1;
        border-bottom: 1px solid lightgray;
        height: 50px;
        margin: 20px 30px;
        position: sticky;
        top: 0;
        background-color: white;
        z-index: 10;
    }
    
    .box2 {
        grid-area: box2;
        height: 300px;
        margin: 30px;
        position: relative;
        top: -30px;
    }
    
    .box3 {
        grid-area: box3;
        position: relative;
        top: 0px;
        margin: 30px;
        width: 300px;
    }
    
    .box4 {
        grid-area: box4;
        position: relative;
        top: 0px;
        margin: 30px;
        width: 300px;
        justify-self: center;
    }
    
    .box5 {
        grid-area: box5;
        position: relative;
        top: 0px;
        margin: 30px;
        width: 300px;
        justify-self: right;
    }
    
    .box6 {
        grid-area: box6;
        position: relative;
        top: 0px;
        margin: 30px;
        width: 300px;
    }
    
    .box7 {
        grid-area: box7;
        position: relative;
        top: 0px;
        margin: 30px;
        width: 300px;
        justify-self: center;
    }
    
    .box8 {
        grid-area: box8;
        position: relative;
        top: 0px;
        margin: 30px;
        width: 300px;
        justify-self: right;
    }
    
    .box9 {
        grid-area: box9;
        position: relative;
        top: 50px;
        margin: 30px;
        font-weight: 100;
    }
}

@media screen and (max-width: 1080px) {
   .wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
      "box1 box1" 
      "box2 box2" 
      "box3 box4" 
      "box5 box6" 
      "box7 box8" 
      "box9 box9"
    }

   .box3 {
     justify-self: right;
    }

   .box4 {
     justify-self: left;
    }

   .box5 {
     justify-self: right;
    }

   .box6 {
     justify-self: left;
    }

   .box7 {
     justify-self: right;
    }

   .box8 {
     justify-self: left;
    }
}

@media screen and (max-width: 720px) {
   .wrapper {
    grid-template-columns: 1fr;
    grid-template-areas: 
      "box1" 
      "box2" 
      "box3" 
      "box4" 
      "box5" 
      "box6" 
      "box7" 
      "box8" 
      "box9"
    }

   .box2 {
      justify-self: center;
      width: 300px;
    }

   .box3 {
      justify-self: center;
    }

   .box4 {
      justify-self: center;
    }

   .box5 {
      justify-self: center;
    }

   .box6 {
      justify-self: center;
    }

   .box7 {
      justify-self: center;
    }

   .box8 {
      justify-self: center;
    }

   .hamburger {
      display: block;
    }

   .hamburger.open .bar:nth-child(2) {
      opacity: 0;
    }

   .hamburger.open .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }

   .hamburger.open .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }

    .navmenu {
       position: fixed;
       opacity: 0;
       flex-direction: column;
       text-align: center;
       transition: 0.3s;
       padding: 60px;
       background-color: white;
       border: 1px solid rgb(140, 140, 140);
       left: 50%;
       top: 50%;
       transform: translate(-50%, -50%);
       pointer-events: none;
       font-weight: 300;
    }

    .navmenu li {
        display: block;
        padding: 20px;
    }

   .navmenu.open {
      opacity: 1;
      pointer-events: visible;
    }
}

@media screen and (max-width: 380px) {
    .box1 {
        margin: 20px 0;
        padding: 0 30px;
    }

    .box2 {
        width: 260px;
    }

    .box3 {
        width: 260px;
    }

    .box4 {
        width: 260px;
    }

    .box5 {
        width: 260px;
    }

    .box6 {
        width: 260px;
    }

    .box7 {
        width: 260px;
    }

    .box8 {
        width: 260px;
    }

    .image {
        width: 260px;
    }

    .blur {
        width: 260px;
    }

    .opacity {
        width: 260px;
        height: 260px;
    }
}

@media(hover: hover) and (pointer: fine) {
    
    .navmenu a:hover {
        color: rgb(0, 174, 174);
        text-decoration: none;
    }

    .box3:hover .image {
        box-shadow: 0 0 20px black;
        transition: all 100ms ease-in-out;
        opacity: 0.3;
    }
    
    .imagetext {
        opacity: 0;
        position: absolute;
    }

    .box3:hover .blur {
        opacity: 1;
        transition: all 100ms ease-in-out;
    }
    
    .box3:hover .opacity {
        opacity: 0.8;
        transition: all 100ms ease-in-out;
    }
    
    .box3:hover .imagetext {
        opacity: 1;
        transition: all 100ms ease-in-out;
        position: absolute;
        top: 60px;
        text-align: center;
        color: rgb(70, 70, 70);
        text-decoration: none; 
        opacity: 1;
        left: 50%;
        z-index: 8;
        transform: translate(-50%, -50%);
    }

    .box3:hover #description {
        position: absolute;
        top: 160px;
        width: 240px;
        margin-bottom: 40px;
        color: rgb(70, 70, 70);
    }
    
    .box4:hover .image {
        box-shadow: 0 0 20px black;
        transition: all 100ms ease-in-out;
        opacity: 0.3;
    }
    
    .box4:hover .blur {
        opacity: 1;
        transition: all 100ms ease-in-out;
    }
    
    .box4:hover .opacity {
        opacity: 0.8;
        transition: all 100ms ease-in-out;
    }
    
    .box4:hover .imagetext {
        opacity: 1;
        transition: all 100ms ease-in-out;
        position: absolute;
        top: 50px;
        text-align: center;
        color: rgb(70, 70, 70);
        text-decoration: none; 
        opacity: 1;
        left: 50%;
        z-index: 8;
        transform: translate(-50%, -50%);
    }

    .box4:hover #description {
        position: absolute;
        top: 160px;
        width: 240px;
        margin-bottom: 40px;
        color: rgb(70, 70, 70);
    }
    
    .box5:hover .image {
        box-shadow: 0 0 20px black;
        transition: all 100ms ease-in-out;
        opacity: 0.3;
    }
    
    .box5:hover .blur {
        opacity: 1;
        transition: all 100ms ease-in-out;
    }
    
    .box5:hover .opacity {
        opacity: 0.8;
        transition: all 100ms ease-in-out;
    }
    
    .box5:hover .imagetext {
        opacity: 1;
        transition: all 100ms ease-in-out;
        position: absolute;
        top: 60px;
        text-align: center;
        color: rgb(70, 70, 70);
        text-decoration: none; 
        opacity: 1;
        left: 50%;
        z-index: 8;
        transform: translate(-50%, -50%);
    }

    .box5:hover #description {
        position: absolute;
        top: 160px;
        width: 240px;
        margin-bottom: 40px;
        color: rgb(70, 70, 70);
    }
    
    .box6:hover .image {
        box-shadow: 0 0 20px black;
        transition: all 100ms ease-in-out;
        opacity: 0.3;
    }
    
    .box6:hover .blur {
        opacity: 1;
        transition: all 100ms ease-in-out;
    }
    
    .box6:hover .opacity {
        opacity: 0.8;
        transition: all 100ms ease-in-out;
    }
    
    .box6:hover .imagetext {
        opacity: 1;
        transition: all 100ms ease-in-out;
        position: absolute;
        top: 50px;
        text-align: center;
        color: rgb(70, 70, 70);
        text-decoration: none; 
        opacity: 1;
        left: 50%;
        z-index: 8;
        transform: translate(-50%, -50%);
    }

    .box6:hover #description {
        position: absolute;
        top: 160px;
        width: 240px;
        margin-bottom: 40px;
        color: rgb(70, 70, 70);
    }
    
    .box7:hover .image {
        box-shadow: 0 0 20px black;
        transition: all 100ms ease-in-out;
        opacity: 0.3;
    }
    
    .box7:hover .blur {
        opacity: 1;
        transition: all 100ms ease-in-out;
    }
    
    .box7:hover .opacity {
        opacity: 0.8;
        transition: all 100ms ease-in-out;
    }
    
    .box7:hover .imagetext {
        opacity: 1;
        transition: all 100ms ease-in-out;
        position: absolute;
        top: 50px;
        text-align: center;
        color: rgb(70, 70, 70);
        text-decoration: none; 
        opacity: 1;
        left: 50%;
        z-index: 8;
        transform: translate(-50%, -50%);
    }

    .box7:hover #description {
        position: absolute;
        top: 160px;
        width: 240px;
        margin-bottom: 40px;
        color: rgb(70, 70, 70);
    }
    
    .box8:hover .image {
        box-shadow: 0 0 20px black;
        transition: all 100ms ease-in-out;
        opacity: 0.3;
    } 
    
    .box8:hover .blur {
        opacity: 1;
        transition: all 100ms ease-in-out;
    }
    
    .box8:hover .opacity {
        opacity: 0.8;
        transition: all 100ms ease-in-out;
    }
    
    .box8:hover .imagetext {
        opacity: 1;
        transition: all 100ms ease-in-out;
        position: absolute;
        top: 60px;
        text-align: center;
        color: rgb(70, 70, 70);
        text-decoration: none; 
        opacity: 1;
        left: 50%;
        z-index: 8;
        transform: translate(-50%, -50%);
    }

    .box8:hover #description {
        position: absolute;
        top: 160px;
        width: 240px;
        margin-bottom: 40px;
        color: rgb(70, 70, 70);
    }
}
